<img src="images/0e674a918ebca3f78bfe02e2f387689d.svg" width="772" class="image-7">
  <div class="div-block-26"></div>
  <div>
    <h1 class="heading-19">Compte rendu</h1>
    <h1 class="heading-20">De votre Journée</h1>
  </div>
  <div class="div-block-22">
    <h1 class="heading-21">Félicitations !</h1>
    <h1 class="heading-22">Vous avez dépassé votre <span class="text-span-3">objectif </span>quotidien !</h1>
    <h1 class="heading-22 step-num-message">Vous avez effectué <span class="text-span-4">9304 </span>pas !</h1>
  </div>
  <div class="div-block-23">
    <h1 class="heading-23">Statistiques activité physique</h1>
    <div class="div-block-24">
      <div class="section-2">
        <div class="stat-cell-div-container w-clearfix"><img src="images/footsteps-silhouette-variant-1.svg" width="57" class="image-8">
          <h1 class="heading-25"><span class="text-span-5">9304 </span>pas</h1>
          <h3 class="heading-26">/9000</h3>
        </div>
      </div>
      <div class="section-2">
        <div class="stat-cell-div-container w-clearfix"><img src="images/placeholder.svg" width="57" class="image-8">
          <h1 class="heading-25"><span class="text-span-6">1.4 </span>km</h1>
          <h3 class="heading-26">/4</h3>
        </div>
      </div>
      <div>
        <div class="stat-cell-div-container w-clearfix"><img src="images/fire.svg" width="57" class="image-8">
          <h1 class="heading-25"><span class="text-span-7">1243 </span>calories brulées</h1>
          <h3 class="heading-26">/2300</h3>
        </div>
      </div>
      <div>
        <div class="stat-cell-div-container w-clearfix"><img src="images/glass.svg" width="57" class="image-8">
          <h1 class="heading-25"><span class="text-span-8">12 </span>verres d&#x27;eau bu</h1>
          <h3 class="heading-26">/15</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="div-block-25">
    <h1 class="heading-24">Moyenne de pas</h1>
    <div class="div-block-24">
      <canvas id="stat-average-steps"></canvas>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript" intergrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
  <script src="/js/day/statAverageSteps.js"></script>
  <script src="/js/day/statPhysicalActivity.js"></script>
