  <div id="index-page">
  <!--<video src="/images/earth-rotating-at-night-from-space-1080p.mp4" loop autoplay></video>-->

  <img id="index-image" src="https://storage.googleapis.com/gweb-uniblog-publish-prod/images/Blogimage.max-1000x1000.png"></img>
  <div id="index-image-overflow"></div>


  <div id="command-names-example">
      <h1 class="welcome-message">Bonjour !</h1>
      <!--<h1 class="voice-command-ex" id="rotation-command">Dites: Afficher le bulletin météo!</h1>-->
  </div>
  
  <div class="div-block-9 clock-container">
    <h4 class="heading-10" id="date"></h4>
    <h1 class="heading-16 " id="time"></h1>
  </div>


  <div class="div-block-11">
    <h1 class="heading-13">Agenda</h1>

    <button id="authorize-button" >Authorize</button>
    <button id="signout-button" >Sign Out</button>

    <div id="agenda-container" class="agenda-container">

    </div>
  </div>
  <div class="div-block-10">
    <h4 class="heading-17">Québec, QC Canada</h4><img src="images/cloud.svg" width="120">
    <h1 class="heading-11" id="index-weather-number">-3</h1>
    <h1 class="heading-12">°C</h1>
  </div>
  <div class="div-block-17" id="feed-container">
    <h1 class="heading-14" id="feed-title">Feed: Google News</h1>
    <ul class="w-list-unstyled" id="feed-list">

    </ul>
  </div>
  <script src="http://yui.yahooapis.com/3.18.1/build/yui/yui-min.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi" async></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript" intergrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="/js/index/analog-clock.js"></script>
  <script src="/js/index/rotation-commands.js"></script>
  <script src="/js/index/feed.js"></script>
  <script src="/js/index/agenda.js"></script>

  <script async defer src="https://apis.google.com/js/api.js"
      onload="this.onload=function(){};handleClientLoad()"
      onreadystatechange="if (this.readyState === 'complete') this.onload()">
  </script>

  <script src="/js/main.js"></script>

  
  <script>
           const req = new XMLHttpRequest();

req.onreadystatechange = function(event) {
    // XMLHttpRequest.DONE === 4
    if (this.readyState === XMLHttpRequest.DONE) {
        if (this.status === 200) {
            var jsonResponse  = JSON.parse(this.responseText);

            var indexWeatherElement = document.getElementById("index-weather-number");
            indexWeatherElement.innerHTML = Math.round(jsonResponse.main.temp);

        } else {
            console.log("Status de la réponse: %d (%s)", this.status, this.statusText);
        }
    }
};

req.open('GET', 'https://api.openweathermap.org/data/2.5/weather?id=6325494&appid=ec11e6f570c12b5be620e77acf0f194c&units=metric&lang=fr', true);
req.send(null);
  </script>

  <script>

    var indexImage = document.getElementById('index-image');
    indexImage.style.width = window.innerWidth+ "px";

    var indexImageOverflow = document.getElementById('index-image-overflow');
    indexImageOverflow.style.width = window.innerWidth+ "px";
    indexImageOverflow.style.height = window.innerHeight+ "px";

  </script>

  </div>