<div id="weather-module">
        <div>
            <h2>Chicoutimi, Saguenay, QC</h2>
            <h4>Mercredi 18h00</h4>
            <p>Nuageux</p>
        </div>

        <table>
            <tr>
                <td align="left" id="midAlignment" ><img src="images/cloud.png" width="80"></img> <h1>-1 C</h1></td>
                <td align="left" >
                    <div>
                        <h4>Precipitation: 80%</h4>
                        <h4>Humidite: 91%</h4>
                        <h4>Vent: 10 km/h</h4>
                    </div>
                </td>
            </tr>
        </table>
        
        <canvas id="weather-prevention" height=120></canvas>


    </div>