<img src="images/Toicon-icon-open-sleep.svg" width="723" class="image-6">
  <div class="div-block-26"></div>
  <div>
    <h1 class="heading-19 main-night-title">Compte rendu </h1>
    <h1 class="heading-20">De votre nuit</h1>
  </div>
  <div class="div-block-22">
    <h1 class="heading-21">Félicitations !</h1>
    <h1 class="heading-22">Vous avez dormi <span class="text-span">8 </span>heures et <span class="text-span-2">23 </span>minutes</h1>
  </div>
  <div class="div-block-23">
    <h1 class="heading-23">Stage de sommeil</h1>
    <div class="content-box-details div-block-24 " >
    
      <canvas id="night-stages-canvas" width="780" height="480"> </canvas>

    </div>
  </div>
  <div class="div-block-25">
    <h1 class="heading-24">Moyenne de sommeil</h1>
    <div class="div-block-24 content-box-details night-average-time">
    
      <canvas id="night-average-canvas" width="750" height="450"> </canvas>

    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript" intergrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="js/PieceLabel.js" type="text/javascript"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
    <script src="js/night/nightAverage.js" type="text/javascript"></script>
      <script src="js/night/nightStages.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
